[project]
	description = hello
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yao Zongyou (yaozongyou)
[access "refs/for/refs/*"]
	read = group user/Yao Zongyou (yaozongyou)
	push = group user/Yao Zongyou (yaozongyou)
	label-Code-Review = -2..+2 group user/Yao Zongyou (yaozongyou)
	label-Verified = -1..+1 group user/Yao Zongyou (yaozongyou)
	rebase = group user/Yao Zongyou (yaozongyou)
	removeReviewer = group user/Yao Zongyou (yaozongyou)
	submit = group user/Yao Zongyou (yaozongyou)
[access "refs/heads/*"]
	read = group user/Yao Zongyou (yaozongyou)
	create = group user/Yao Zongyou (yaozongyou)
	push = +force group user/Yao Zongyou (yaozongyou)
	pushMerge = group user/Yao Zongyou (yaozongyou)
[access "refs/tags/*"]
	push = group user/Yao Zongyou (yaozongyou)
	push = +force group user/Yao Zongyou (yaozongyou)
